@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Black.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Regular.ttf);
    font-weight: normal;
}

*{
    /* border: 2px solid black; */
}
body{
    background-image: url('./img/landing/bgimg/snow.jpg');
    font-family: 'sf';
}

.logo-search{
    /* filter: blur(5px); */
    margin-top: 200px;
    text-align: center;
}

h1{
    font-weight: bolder;
    font-size: 70px;
}

.search-detect{
    box-sizing: border-box;
    border-radius: 60px;
    font-weight: normal;
    height: 50px;
    background: white;
    font-weight: normal;
    font-size: 20px;
}


#search-bar{
    width: 30%;
    padding-left: 20px;
    border: none;
}

#detect{
    margin-top: 15px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    padding: 0px 30px;
    border: none;
}


img{
    height: 10%;
    width: 10%;
}

.footer{
    height: 16px;
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    border-radius: 10px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: gray;
}

