.logo-search{
    text-align: center;
}


body{
    background-image: url(https://static.scientificamerican.com/sciam/cache/file/391E7BCB-431B-41EB-B8A85786A27DFAC6_source.jpg);
    font-family: "Verdana", sans-serif;
}



#search-bar{
    width: 10%;
    padding: 10px;
    margin-top: 15px;
}

#detect{
    margin: 15px;
    padding: 10px 20px;
}


img{
    height: 10%;
    width: 10%;
}

.box{
    width: 100%;
    height: 50px;
    background-color: white;
}