@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Black.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'sf';
    src: url(./sfwin/SFPro/TrueType/SFProDisplay-Regular.ttf);
    font-weight: normal;
}

*{
    /* border: 2px solid black; */
}
body{
    background-image: url('./img/landing/bgimg/snow.jpg');
    font-family: 'sf';
    border: 2px black solid;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar{
    width: 100vw;
    height: 10vh;
    background-color: aliceblue;
}
.nav{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin: 10px 0px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 20px;
}


.logo-search{
    /* filter: blur(5px); */
    background-color: rgb(100,100,100,0.5);
    margin-top: 30vh;
    text-align: center;
    /* border: 2px black solid; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: none;
}

h1{
    font-weight: bolder;
    font-size: 70px;
}

.search-detect{
    box-sizing: border-box;
    border-radius: 60px;
    font-weight: normal;
    height: 50px;
    background: white;
    font-weight: normal;
    font-size: 20px;
}


#search-bar{
    width: 30vw;
    padding-left: 20px;
    border: thin solid gray;
}

#detect{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    padding: 0px 30px;
    border: thin solid gray;
}


img{
    height: 10%;
    width: 10%;
}

.footer{
    height: 16px;
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    border-radius: 10px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: gray;
}

